.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100svh - #{70 * $vp});
	@include mediaquery-md {
		padding: 0 20 * $vp;
		position: relative;
		height: calc(100vh - #{70 * $vp});
		height: calc(100svh - #{70 * $vp});
	}
	.loginBox{
		width: 720 * $vp;
		margin: 0 auto;
		border-radius:10 * $vp;
		padding: 50 * $vp 30 * $vp;
		color: #FFF;
		background: $color-main;
		box-shadow: 4px 5px 15 * $vp 0px rgba(0, 0, 0, 0.16);
		@include mediaquery-md {
			width: 100%;
			padding: 30 * $vp 20 * $vp;
		}
		h1{
			text-align: center;
			border-bottom: 1px solid #fff;
			font-size: 20 * $vp;
			font-weight: 700;
			padding-bottom: 35 * $vp;
			margin-bottom: 50 * $vp;
			@include mediaquery-md {
				margin-top: -150 * $vp;
				color: $color-main;
				border-bottom: 0;
				margin-bottom: 30 * $vp;
			}
		}
		label{
			display: block;
			margin-bottom: 15 * $vp;
		}
		.loginBox__input{
			width: 500 * $vp;
			margin: 0 auto;
			@include mediaquery-md {
				width: 100%;
			}
			.inputArea{
				.input-text{
					margin-bottom: 10 * $vp;
				}
			}
			.inputLogin{
				margin-top: 20 * $vp;
			}
		}
	}
	.logo-pc{}
	.logo-sp{
		display: none;
	}
}
.menuBody{
	width: calc(100% - #{350 * $vp});
	@include mediaquery-md {
		width: 100%;
	}
}
.listBody{
	padding: 30 * $vp;
	@include mediaquery-md {
		padding: 15 * $vp;
	}
	.staff-list{
		display: flex;
		flex-wrap: wrap;
		margin: -10 * $vp;
		@include mediaquery-md {
			margin: -5 * $vp;
		}
		li{
			width: calc(100% / 4 - #{20 * $vp});
			margin: 10 * $vp;
			border: 1px solid #CADAE2;
			border-radius:5 * $vp;
			@include mediaquery-md {
				width: calc(50% - #{10 * $vp});
				margin: 5 * $vp;
			}
			a{
				padding: 7 * $vp;
				text-decoration: none;
				display: flex;
				flex-direction: column;
				&:hover{
					text-decoration: none;
					opacity: 0.7;
				}
			}
		}
		.list-image{
			text-align: center;
			margin-bottom: 15 * $vp;
			img{
				width: 100%;
				height: auto;
				aspect-ratio:1 / 1;
				object-fit:cover;
				border-radius:5 * $vp;
			}
		}
		.list-text{
			color: #707070;
			.number{
				font-size: 12 * $vp;
				margin-bottom: 20 * $vp;
				@include mediaquery-md {
					font-size: 10 * $vp;
					margin-bottom: 10 * $vp;
				}
			}
			h3{
				font-weight: 700;
				font-size: 21 * $vp;
				margin-bottom: 10 * $vp;
				color: $color-black;
				@include mediaquery-md {
					font-size: 20 * $vp;
				}
			}
			.initial{
				margin-bottom: 30 * $vp;
				@include mediaquery-md {
					font-size: 12 * $vp;
					margin-bottom: 15 * $vp;
				}
			}
			p{
				line-height: 1.6;
				@include mediaquery-md {
					font-size: 13 * $vp;
				}
			}
		}
	}
}
.singleBody{
	padding: 30 * $vp 30 * $vp 0 30 * $vp;
	margin: 0 0 0 auto;
	@include mediaquery-md {
		padding: 15 * $vp;
		margin: 0;
	}
	&.is-open{
		width: calc(100% - #{270 * $vp});
		@include mediaquery-md {
			width: 100%;
		}
	}
	.single-base{
		display: flex;
		margin-bottom: 30 * $vp;
		.base-image{
			width: 215 * $vp;
			height: 215 * $vp;
			margin-right: 25 * $vp;
			position: relative;
			@include mediaquery-md {
				width: 110 * $vp;
				height: 110 * $vp;
				margin-right: 10 * $vp;
				flex-shrink: 0;
			}
			img{
				width: 100%;
				height: 215 * $vp;
				object-fit:cover;
				border-radius:5 * $vp;
				border: 1px solid $color-lblue;
				@include mediaquery-md {
					height: auto;
					aspect-ratio:1 / 1;
				}
			}
			.form-file{
				margin: 0 auto;
				text-align: center;
				position: absolute;
				bottom: -30 * $vp;
				left: 0;
				right: 0;
				margin: auto;
				@include mediaquery-md {
					position: static;
					margin-top: 10 * $vp;
					p{
						font-size: 10 * $vp;
						margin-left: 0;
					}
				}
				.is-small{
					margin: 0 auto 10 * $vp auto;
					@include mediaquery-md {
						margin-bottom:5 * $vp;
					}
				}
			}
		}
		.base-text{
			width: calc(100% - #{240 * $vp});
			@include mediaquery-md {
				width: calc(100% - #{120 * $vp});
			}
			.number{
				font-size: 12 * $vp;
				color: $color-gray;
				@include mediaquery-md {
					font-size: 10 * $vp;
				}
			}
			.name{
				font-weight: 700;
				display: flex;
				align-items: center;
				font-size: 29 * $vp;
				margin:25 * $vp 0 10 * $vp 0;
				@include mediaquery-md {
					font-size: 20 * $vp;
					margin-top: 10 * $vp;
				}
				a{
					display: block;
					margin-left: 10 * $vp;
				}
			}
			.initial{
				font-size: 14 * $vp;
				color: $color-gray;
				@include mediaquery-md {
					font-size: 12 * $vp;
				}
			}
			.staff-detail{
				margin-top: 25 * $vp;
				color: $color-gray;
				@include mediaquery-md {
					margin-top: 15 * $vp;
				}
				li{
					display: flex;
					align-items: center;
					margin-bottom: 7 * $vp;
					@include mediaquery-md {
						font-size: 12 * $vp;
						margin-bottom: 4 * $vp;
					}
					i{
						display: block;
						width: 20 * $vp;
						margin-right: 10 * $vp;
						@include mediaquery-md {
							width: 12 * $vp;
						}
					}
				}
			}
		}
	}
	.single-info{
		border:1px solid $color-lblue;
		border-radius:5 * $vp;
		margin-bottom: 30 * $vp;
		&:last-child{
			margin-bottom: 0;
		}
		h2{
			font-size: 22 * $vp;
			font-weight: 700;
			color: $color-sub;
			background:$color-lblue;
			border-radius:5 * $vp 5 * $vp 0 0;
			padding: 20 * $vp 30 * $vp;
			display: flex;
			align-items: center;
			@include mediaquery-md {
				font-size: 14 * $vp;
				padding: 15 * $vp 20 * $vp;
			}
			.is-req{
				width: 55 * $vp;
				height: 25 * $vp;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				background: #FC7369;
				font-size: 12 * $vp;
				margin: 0 0 0 auto;
			}
			.is-btn{
				width: 120 * $vp;
				margin: 0 0 0 auto;
				@include mediaquery-md {
					width: 100 * $vp;
				}
				.is-small{
					width: 120 * $vp;
					height: 37 * $vp;
					font-size: 14 * $vp;
					@include mediaquery-md {
						width: 100%;
						font-size: 12 * $vp;
					}
				}
			}
		}
		.single-info__inner{
			padding: 30 * $vp;
			@include mediaquery-md {
				padding: 15 * $vp;
			}
		}
		.info-list{
			margin-bottom: -15 * $vp;
			li{
				margin-bottom: 15 * $vp;
				display: flex;
				line-height: 1.8;
				@include mediaquery-md {
					font-size: 12 * $vp;
				}
				h3{
					width: 200 * $vp;
					flex-shrink:0;
					@include mediaquery-md {
						width: 90 * $vp;
						letter-spacing: normal;
					}
				}
			}
		}
		.info-block{
			display: flex;
			line-height: 1.8;
			flex-wrap:wrap;
			@include mediaquery-md {
				line-height: 1.5;
				font-size: 12 * $vp;
			}
			dt{
				width: 190 * $vp;
				flex-shrink:0;
				@include mediaquery-md {
					width: 90 * $vp;
					letter-spacing: normal;
				}
			}
			dd{
				width: calc(100% - #{200 * $vp});
				margin: 0 0 0 auto;
				@include mediaquery-md {
					width: calc(100% - #{100 * $vp});
				}
				ul{
					li{
						margin-bottom: 15 * $vp;
						display: flex;
						align-items: center;
						-webkit-flex-wrap: wrap;
						    -ms-flex-wrap: wrap;
						        flex-wrap: wrap;
						h3{
							width: 170 * $vp;
							flex-shrink:0;
							@include mediaquery-md {
								width: auto;
								margin-right: 10 * $vp;
							}
						}
						h4{
							margin-right: 1em;
							letter-spacing:normal;
						}
					}
				}
				&:not(:last-child){
					border-bottom: 1px solid $color-lblue;
					margin-bottom: 15 * $vp;
				}
			}
		}
	}
}
.resume{
	.resume-form{
		.info-list{
			li{
				@include mediaquery-md {
					flex-direction: column;
					&.is-float{
						flex-direction: row;
					}
				}
			}
			h3{
				padding-top: 5 * $vp;
				@include mediaquery-md {
					width: 100%;
				}
			}
			span{
				display: flex;
				flex-grow:1;
				@include mediaquery-md {
					width: 100%;
				}
			}
			.form-file{
				display: flex;
				align-items: center;
				p{
					margin-left: 1em;
					@include mediaquery-md {
						font-size: 10 * $vp;
						letter-spacing: normal;
					}
				}
			}
			.form-select{
				overflow: hidden;
				position: relative;
				background: #FFF;
				border-radius:3 * $vp;
				border: 1px solid #C5DBE3;
				padding: 10 * $vp 15 * $vp;
				background:$color-lyellow;
				&.is-short{
					flex-grow:initial;
					width: 125 * $vp;
					@include mediaquery-md {
						width: 100%;
					}
				}
				&.is-mid{
					flex-grow:initial;
					width: 330 * $vp;
					@include mediaquery-md {
						width: 100%;
					}
				}
				&:after{
					content:'';
					background: url('/assets/img/icon-arrow-blue.svg') no-repeat;
					background-size: cover;
					width: 13 * $vp;
					height: 7 * $vp;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 20 * $vp;
					margin: auto;
					z-index:15;
				}
				select{
					width: 100%;
					cursor: pointer;
					text-overflow: ellipsis;
					border: none;
					outline: none;
					background: transparent;
					background-image: none;
					box-shadow: none;
					-webkit-appearance: none;
					appearance: none;
				}
			}
		}
	}
	input[type="text"], textarea{
		border-radius:3 * $vp;
		padding:10 * $vp 15 * $vp;
		width: 100%;
		border:1px solid $color-lblue;
		background:$color-lyellow;
		&.form-mid{
			width: 330 * $vp;
			@include mediaquery-md {
				width: 100%;
			}
		}
	}
	input[type="file"]{
		display: none;
	}
	.resume-complete{
		background: #E9EAEE;
		margin: 50 * $vp 20 * $vp 100 * $vp 20 * $vp;
		padding: 70 * $vp 50 * $vp;
		color:$color-gray;
		border-radius:5 * $vp;
		border:1px solid $color-lblue;
		@include mediaquery-md {
			padding: 30 * $vp 25 * $vp;
		}
		h2{
			font-size: 30 * $vp;
			font-weight: 700;
			text-align: center;
			color: $color-sub;
			margin-bottom: 40 * $vp;
			@include mediaquery-md {
				font-size: 17 * $vp;
				margin-bottom: 25 * $vp;
			}
		}
		p{
			font-size: 20 * $vp;
			margin-bottom: 30 * $vp;
			@include mediaquery-md {
				font-size: 14 * $vp;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.staffForm{
	padding-bottom: 60 * $vp;
	.info-list{
		@include mediaquery-md {
			li{
				flex-direction: column;
			}
		}
	}
	.single-info{
		.info-block{
			@include mediaquery-md {
				flex-direction: column;
				dt{
					width: 100%;
				}
				dd{
					width: 100%;
					ul{
						li{
							flex-direction: column;
							align-items: flex-start;
							.is-column{
								h3{
									width: 100%;
								}
								.form-select{
									margin-bottom: 0;
								}
								h4{
									width: 100%;
									margin-top: 10 * $vp;
								}
							}
						}
					}
				}
			}
		}
	}
	input{
		margin: 5 * $vp 0;
	}
	input[type="text"], textarea{
		border-radius:3 * $vp;
		border:1px solid $color-lblue;
		background:#fff;
		padding: 7 * $vp 15 * $vp;
		min-width: 350 * $vp;
		@include mediaquery-md {
			width: 100%;
			min-width: initial;
			min-width: auto;
		}
		&.is-full{
			width: 100%;
		}
		&.is-mid{
			min-width: 215 * $vp;
			@include mediaquery-md {
				min-width: auto;
			}
		}
	}
	input[type="text"]{
		height: 40 * $vp;
		display: flex;
		align-items: center;
		@include mediaquery-md {
			height: 30 * $vp;
		}
	}
	input[type="file"]{
		display: none;
	}
	.single-info{
		li > span{
			flex-grow:1;
			@include mediaquery-md {
				width: 100%;
			}
		}
		.is-column{
			display: flex;
			flex-wrap:wrap;
			flex-grow:1;
			align-items: center;
			@include mediaquery-md {
				flex-direction: column;
				align-items: flex-start;
			}
			span{
				margin-right: 1em;
				display: flex;
				align-items: flex-end;
				input{
					margin-right: 10 * $vp;
				}
			}
			@include mediaquery-md {
				.form-select{
					margin-bottom: 10 * $vp;
				}
			}
		}
		.is-wrap{
			display: flex;
			flex-wrap:wrap;
			flex-grow:1;
			h4{
				margin-right: 0.5em;
			}
			span + .is-column{
				margin-top: 15 * $vp;
			}
			.is-column{
				.form-date{
					margin-right: 1em;
				}
			}
		}
	}
	.form-select{
		overflow: hidden;
		position: relative;
		background: #FFF;
		border-radius:3 * $vp;
		border: 1px solid #C5DBE3;
		padding: 0 15 * $vp;
		height: 40 * $vp;
		display: flex;
		align-items: center;
		background:#fff;
		width: 170 * $vp;
		margin-right: 1em;
		@include mediaquery-md {
			height: 30 * $vp;
		}
		&.is-short{
			flex-grow:initial;
			width: 125 * $vp;
			@include mediaquery-md {
				width: 80 * $vp;
			}
		}
		&.is-mid{
			flex-grow:initial;
			width: 330 * $vp;
			@include mediaquery-md {
				width: 100%;
			}
		}
		&:after{
			content:'';
			background: url('/assets/img/icon-arrow-blue.svg') no-repeat;
			background-size: cover;
			width: 13 * $vp;
			height: 7 * $vp;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 20 * $vp;
			margin: auto;
			z-index:15;
			pointer-events:none;
		}
		select{
			width: 100%;
			cursor: pointer;
			text-overflow: ellipsis;
			border: none;
			outline: none;
			background: transparent;
			background-image: none;
			box-shadow: none;
			-webkit-appearance: none;
			appearance: none;
		}
	}
	.form-date{
		border: 1px solid $color-lblue;
		padding: 10 * $vp 15 * $vp;
		width: 200 * $vp;
		border: 1px solid #C5DBE3;
		input[type="date"]{
			position: relative;
			padding-left: 1.5em;
			&::-webkit-calendar-picker-indicator{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: auto;
				height: auto;
				background: transparent;
				z-index: 1;
			}
			&:after{
				content:'';
				background: url('/assets/img/icon-calendar.svg') no-repeat;
				width: 15.75 * $vp;
				height: 18 * $vp;
				background-size: cover;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
		}
	}
	.form-file{
		display: flex;
		align-items: center;
		p{
			margin-left: 1em;
		}
	}
	.form-radio{
		margin-right: 1em;
		input[type="radio"]{
			display: none;
			&:checked{
				+ span{
					&:after{
						opacity: 1;
					}
				}
			}
		}
		label{
			span{
				padding-left: 1.5em;
				position: relative;
				display: flex;
				align-items: center;
				&:before{
					content:'';
					width: 20 * $vp;
					height: 20 * $vp;
					border: 2px solid #3197BC;
					border-radius:50%;
					display: block;
					position: absolute;
					top: 5 * $vp;
					left: 0;
					@include mediaquery-md {
						width: 15 * $vp;
						height: 15 * $vp;
					}
				}
				&:after{
					content:'';
					width: 10 * $vp;
					height: 10 * $vp;
					background: #3197BC;
					border-radius:50%;
					position: absolute;
					top: 1px;
					bottom: 0;
					left: 5 * $vp;
					margin: auto;
					opacity: 0;
					@include mediaquery-md {
						width: 7 * $vp;
						height: 7 * $vp;
						top: 4 * $vp;
						left: 4 * $vp;
					}
				}
			}
			
		}
	}
	.single-base{
		.form-file{
			flex-direction:column;
		}
	}
}
.toList{
	margin: 60 * $vp 0 30 * $vp 0;
	@include mediaquery-md {
		padding-bottom: 60 * $vp;
	}
	.is-small{
		margin: 0 auto;
	}
	.is-large{
		margin: 0 auto;
	}
}
.parts-block{
	background: #F4F4F4;
	width: 100%;
	height: 100%;
	padding: 60 * $vp 0;
	a{
		margin-bottom: 30* $vp;
	}
}